LLM_PROVIDER=hunyuan
HUNYUAN_API_KEY=sk-xxxxxxxx
HUNYUAN_BASE_URL=https://tokenhub.tencentmaas.com/v1
HUNYUAN_MODEL=hy3
HUNYUAN_VISION_MODEL=hy-vision-2.0-instruct
USE_AI_GOD_PLANNER=1
OCR_USE_GPU=1
# DINGTALK_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=xxx
